<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>添加成功</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<div class="col-md-8">  
  <div class="panel panel-default">  

<body>
    <!-- 不存在则忽略，显示hello null!(可以通过默认值进行设置)-->
    <p th:text="信息添加成功！">3333</p>
    
    
    <p><a class="btn btn-primary btn-lg" th:href="@{/}" role="button">返回主页</a></p>
    <p><a class="btn btn-primary btn-lg1" th:href="@{/student/add}" role="button">继续添加</a></p>
    
    
  </div>  
</div>  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</body>
</html>